CacheControl==0.14.4
Markdown==3.10.2
PyJWT==2.8.0
bleach==6.3.0
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-extensions==4.1
drf-spectacular==0.29.0
fire==0.7.1
firebase_admin==7.4.0
google-ai-generativelanguage==0.6.15
google-api-python-client==2.194.0
google-genai==1.73.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
mdurl==0.1.2
openai==1.109.1
pip-chill==1.0.5
pipreqs==0.5.0
prompt_toolkit==3.0.52
pure_eval==0.2.3
pyasn1_modules==0.4.2
pydantic_core==2.46.1
python-decouple==3.8
pyyaml_env_tag==1.1
qianfan==0.4.12.3
scipy==1.15.3
zhipuai==2.1.5.20250825
